<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Proceso Fecha</title>
</head>
<body>
	<h1>Comparación de FECHAS</h1>
	<form th:object="${procesoFecha}" th:action="@{/guardarProcesoFecha}" method="post">
		<label for="ffecha1">Fecha1: </label><br>
		<input type="date" id="ffecha1" th:field="*{fecha1}"><br>
		<label for="ffecha2">Fecha2: </label><br>
		<input type="date" id="ffecha2" th:field="*{fecha2}"><br><br>
		<input type="submit" value="Enviar">
	</form>
</body>
</html>